{% extends 'base.html' %}
{% block conteudo %}

<div class="j3">
  <img class="img09" src="../static/doar.png" alt="">

  <p class="te28"><b>Para nos ajudar, você pode fazer qualquer tipo de doação, seja ela em<br>dinheiro e/ou em artigos usados/novos que serão destinados à sustentação<br>da casa.</b></p>

  <div class="rec24"></div>
  <div class="rec25"></div>

  <p class="te29">DOAÇÃO</p>
  <p class="te30">BAZAR</p>

  <img class="img10" src="../static/FlorDoação.png" alt="">

  <img class="img11" src="../static/FlorVoluntariadoEdited.png" alt="">

  <p class="te31"><b>Veja como fazer<br>doações em<br>dinheiro para a<br>Amamos.</b></p>
  <p class="te32"><b>Trabalhar no bazar é<br>uma experiência<br>aberta a todos</b></p>

  <a class="bnt04" href="/doacao">SAIBA +</a>
  <a class="bnt05" href="/bazar">SAIBA +</a>
</div>

<div style="margin-top: 600px;"></div>

{% endblock %}