{% extends 'base.html' %}
{% block conteudo %}

<div class="j3">
  <h1 class="te01">Bazar Beneficente</h1>
  <div class="rec19"></div>
  <div class="rec20"></div>

  <img class="img06" src="../static/BazarAmamos.png" alt="">
  <img class="img07" src="../static/CriançaComprando02.png" alt="">
  <p class="te18">
    Anexo ao prédio da AMAMOS, dispomos de um espaço onde promovemos o bazar da D. Itália.​Todo o fundo arrecadado com as vendas de mercadorias é convertido para nossa instituição.
  </p>

  <p class="te19">
    As mercadorias vendidas no bazar são obtidas através de doações, e sugeridos preços simbólicos bem abaixo do mercado. Os produtos variam desde roupas, acessórios, brinquedos, eletrodomésticos e eletrônicos, alimentos e etc. Os produtos podem ser novos ou usados.
  </p>

  <div class="rec21">
    <p class="te20">Dias e Horários de funcionamento:</p>
    <p class="te21">Segunda e Quarta-Feira</p>
    <p class="te22">Das 13h ás 16h</p>
    <hr class="linha-tracejada01">
    <p class="te23">Sexta-Feira</p>
    <p class="te24">Das 08h ás 11h</p>
  </div>

  <img class="img08" src="../static/map.png" alt="">
  <p class="te25">Nosso<br>Endereço:</p>
  <p class="te26">Avenida Presidente Médici, 1303<br>ParqueBandeirantes - Osasco/SP</p>
</div>

<div class="j3">
  <iframe class="ele02" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.851278661043!2d-46.7768411!3d-23.5018657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cefeed5505868b%3A0x71c49c512e050e14!2sAmamos%20Casa%20de%20Acolhimento%20para%20Crian%C3%A7as%20e%20Adolescentes!5e0!3m2!1spt-BR!2sbr!4v1716409900704!5m2!1spt-BR!2sbr" width="500" height="230" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div style="margin-top: 20px;"></div>

{% endblock %}