{% extends 'base.html' %}
{% block conteudo %}

<div class="j3">
  <div class="rec15">
    <img class="img05" src="../static/CriancaCel.png" alt="">

    <h1 class="te16">Entre em contato</h1>

    <div class="j3">
      <div class="rec16"></div>
      <div class="rec17"></div>
    </div>

    <p class="te17">Você pode entrar em contato conosco através do formulário abaixo
      Responderemos suas dúvidas ou sugestões o mais breve possível. :)
    </p>
    <div class="rec18">
      <form action="">
        <input class="for01" type="text" placeholder="Nome *">
        <input class="for02" type="email" placeholder="E-mail *">
        <input type="radio" style="margin: 10px 0px 10px 100px;"> <label for="">Voluntário</label>
        <input type="radio"> <label for="">Doação</label>
        <input type="radio"> <label for="">Projeto</label>
        <input type="radio"> <label for="">Outro</label>
        <input class="for03" type="text" placeholder="Assunto">
        <input class="for04" type="text" placeholder="Mensagem">
        <input class="btn02" type="button" placeholder="Enviar" value="ENVIAR">


      </form>
    </div>
  </div>
</div>
<div style="margin-top: 610px;"></div>
{% endblock %}