{% extends 'base.html' %}
{% block conteudo %}

<div class="j3">
  <img class="img12" src="../static/instDoacao.png" alt="">
  <img class="img13" src="../static/supersoacao.png" alt="">

  <p class="te33">Doações</p>

  <a class="bnt07" href="#">CLIQUE AQUI</a>
  <a class="bnt08" href="#">DOE SEU CUPOM FISCAL</a>
  <a class="bnt09" href="https://www.amamos.org.br/_files/ugd/1a517d_046df0d81eec48329cb90c7607f5b83f.pdf" target="_blank"><img src="../static/pdffff.png" alt=""></a>

  <p class="te34">Nosso CNPJ: 51.441.939/0001-22</p>
</div>

<div style="margin-top: 1719px;"></div>



{% endblock %}