{% extends 'base.html' %}
{% block conteudo %}

<div class="j1">

  <img class="img01" src="../static/esperanca.png" alt="Amamos">

  <div class="j3">
    <div class="rec03"></div>
    <div class="rec04"></div>
  </div>

  <div>
    <div class="j3">
      <h1 class="a01">A instituição</h1>
    </div>
    <div class="j3">
      <h1 class="a02">Dica do dia:</h1>
    </div>
  </div>

  <div class="j3">
    <div class="rec05"></div>
    <div class="rec06"></div>
    <div class="rec07">POSSO DOAR COM IMPOSTO DE RENDA?</div>
    <hr class="linha-tracejada">
  </div>
  <div class="j3">
    <p class="p01">A AMAMOS, desde sua fundação, tem sido um espaço de oportunidades de desenvolvimento para crianças e jovens que vivem em situações de alta vulnerabilidade social.</p>
    <img class="img02" src="../static/iconeAmamos.png" alt="Icone Amamos">
    <a href="/inst" class="bnt01">SAIBA +</a>
  </div>

  <div class="j3">
    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/K31dFkC7fkg?si=MLwopUn0ARlBcQIL" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="j3">
    <div class="rec03"></div>
    <div class="rec04"></div>
  </div>

  <p class="te02">Nos acompanhe nas Redes Sociais</p>

  <div class="j3">
    <div class="insta">
      <a href="https://www.instagram.com/ongamamos/" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram" class="social-image">
      </a>
    </div>
    <div class="face">
      <a href="https://www.facebook.com/ongamamos/reels/" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook" class="social-image">
      </a>
    </div>
  </div>


  <div class="j3">
    <div class="rec03"></div>
    <div class="rec04"></div>
  </div>


  <div class="j3">
    <div class="rec09">
      <h2 class="te07">Programa de Doações</h2>
      <p class="te08">
        Aquela roupa que não serve mais...<br>
        O sapato que não combina mais...<br>
        Aquele brinquedo que seu filho(a) não gosta mais...
      </p>
      <p class="te09">Tudo tem muito valor para nós!</p>
      <div class="rec11"></div>
      <div class="rec12"></div>
      <a href="/ajuda" class="bnt03">SAIBA COMO DOAR</a>
    </div>
  </div>






  <div class="j3">
    <div class="rec03"></div>
    <div class="rec04"></div>
  </div>



  <div class="j3">
    <div class="rec10">
      <h2 class="te05">Seja Voluntário</h2>
      <p class="te06">Trabalho voluntário é uma experiência aberta a todos. Não é só quem é “especialista” em alguma coisa que pode ser voluntário. Todos podem contribuir a partir do princípio de que “o que cada um faz bem, pode fazer bem a alguém. O mais importante é a motivação solidária, o desejo de ajudar, o prazer em se sentir útil.</p>
      <img class="img03" src="../static/criancaHome02.png" alt="">
      <a href="/inst" class="bnt02">SAIBA +</a>
    </div>
  </div>





  <div class="j3">
    <div class="rec03"></div>
    <div class="rec04"></div>
  </div>


  <div class="j3">
    <div class="rec08">
      <h2 class="te03">Encontre a Amamos</h2>

      <div class="ele01">
        <img class="c01" src="../static/criancaHome001.png" alt="">
      </div>

      <div class="ele01">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.851278661043!2d-46.7768411!3d-23.5018657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cefeed5505868b%3A0x71c49c512e050e14!2sAmamos%20Casa%20de%20Acolhimento%20para%20Crian%C3%A7as%20e%20Adolescentes!5e0!3m2!1spt-BR!2sbr!4v1716409900704!5m2!1spt-BR!2sbr" width="500" height="400" style="border: 1px solid black; position: absolute; z-index: 0; margin-left: -50px; margin-top: 44px;" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <div class="j3">
        <p class="te04">AMAMOS Casa de Acolhimento para Crianças e Adolescentes</p>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 650px;"></div>

{% endblock %}