{% extends 'base.html' %}
{% block conteudo %}

<div class="j3">
  <h1 class="te10">A Amamos</h1>
  <div class="rec13"></div>
  <div class="rec14"></div>
  <h2 class="te11">A AMAMOS é um Serviço de Acolhimento <br>
    Institucional para Crianças e Adolescentes no Município de Osasco/SP.</h2>
</div>

<div class="j3">
  <img class="img04" src="../static/criancaInst.png" alt="">

  <p class="te12">Seu regime atende à legislação do Estatuto da Criança e do Adolescente atuando como SAICA e recebendo as crianças enviadas pelo fórum da Comarca de Osasco, por meio de processos formalizados pelo juiz da Vara da Infância e Juventude de Osasco. Dentro do sistema de atendimento, a instituição promove acolhimento provisório para crianças e adolescentes de ambos os sexos, em situação de medida de proteção e em situação de risco pessoal, social e de abandono. A educação de seus assistidos é feita nas escolas municipais e estaduais do bairro. A Amamos oferece um ambiente acolhedor, possui aspecto de uma casa; além dos ensinamentos da moral cristã e reforço escolar junto à pessoas capacitadas. Presta um atendimento personalizado, de acordo com a necessidade de cada um, favorece um convívio familiar e comunitário, buscando usar os equipamentos e serviços disponíveis na comunidade local.</p>

  <p class="te13">Quando não é possível, busca parcerias para atender melhor seus acolhidos. Desenvolve um trabalho de Assistência Social com as famílias que se reintegram com seus filhos e que necessitam de acompanhamentos e orientações. A história da AMAMOS remonta à figura de uma senhora chamada Maria do Carmo Eliziario, que em 1960, num bairro humilde de Osasco, iniciou uma grande missão: ajudar crianças colocadas em risco pelo abandono. Dentro de uma simples e pequena casa, D. Maria, como era conhecida, passou a receber e cuidar de bebês e em poucos meses, a sua casa estava superlotada. Seu trabalho foi reconhecido pela população e por colaboradores e amigos que acabaram doando um terreno, a fim de construírem um prédio a altura das necessidades. Maria do Carmo Eliziario teve ao seu lado um grande incentivador, que teve como papel construir o prédio que hoje abriga a sede da AMAMOS, seu nome era Bráulio Fantinato.</p>

  <p class="te14">Concluído em 1968, o prédio passou a ser chamado de LAR JOSÉ BENEDITO e começou a receber, também, as crianças enviadas pela Vara da Criança e do Adolescente da Comarca de Osasco. MARIA cumpriu sua missão durante vinte anos e com o passar do tempo a estrutura foi se adequando pelas gestões seguintes. Foi fundada, então, a Associação de Munícipes para o Amparo ao Menor Osasquense, em 11 de dezembro de 1991, com novo estatuto e diretoria. A instituição teve um aumento de área útil para dar espaço adequado às necessidades e atividades das crianças, adicionando ao seu quadro de funcionários: psicólogos, pedagogos, assistentes sociais e toda uma equipe de monitoria, além de parcerias na área de saúde, educação e esporte.</p>

  <p class="te15">A casa chegou a ter capacidade para abrigar até 60 crianças na faixa etária de zero a dezoito anos. Para este atendimento sua sede passou a ter dois amplos dormitórios (masculino e feminino), berçário com capacidade de 10 bebês, ampla brinquedoteca e biblioteca, sala de TV e vídeo, quadra esportiva, sala de computação, salas de atividades, refeitório, cozinha industrial, dispensa seca, dispensa hortifrúti e sala da administração. Com a mudança na legislação, as crianças e adolescentes precisaram ser acolhidos em residências, atendendo as ORIENTAÇÕES TECNICAS DE SERVIÇO DE ACOLHIMENTO e o PLANO DE CONVIVÊNCIA FAMILIAR DO MUNICÍPIO DE OSASCO. Para tanto, a instituição alugou três imóveis para atendê-los adequadamente.</p>


</div>

<div style="margin-top: 1070px;"></div>










{% endblock %}