{% extends 'base.html' %}
{% block conteudo %}


<div class="j3">
  <h1 class="te27">Conheça nossos parceiros</h1>

  <div class="rec22"></div>
  <div class="rec23"></div>
  <div style="margin-bottom: 50px;"></div>

  <a class="par01" href="https://www.nakata.com.br/" target="_blank"><img src="../static/nakata.png" alt=""></a>
  <a class="par02" href="https://tirolez.com.br/" target="_blank"><img src="../static/tirolez.png" alt=""></a>
  <img class="par03" src="../static/cabelo.png" alt="">
  <a class="par04" href="https://www.floresvip.com.br/" target="_blank"><img src="../static/obreiros.png" alt=""></a>
  <a class="par05" href="https://corvosmc.com.br/" target="_blank"><img src="../static/moto.png" alt=""></a>
  <img class="par06" src="../static/SantaLuzia.png" alt="">
  <a class="par07" href="http://soabem-osasco.org.br/site/" target="_blank"><img src="../static/soabem.png" alt=""></a>
  <a class="par08" href="https://www.macflyestampas.com.br/" target="_blank"><img src="../static/mcf.png" alt=""></a>
  <a class="par09" href="https://www.liviamarchetti.com.br/" target="_blank"><img src="../static/etiqueta2.png" alt=""></a>
  <a class="par10" href="https://www.porsani.com.br/" target="_blank"><img src="../static/porsani.png" alt=""></a>
</div>

<div style="margin-top: 360px;"></div>
{% endblock %}